* {
    margin: 0;
}

body {
    background-color: white;
}

h1 {
    background-color: #5090c3;
    padding: 10px;
}

h2 {
    background-color: #5090c3;
    padding: 10px;
}

p {
    background-color: #A6DFFF;
    padding: 10px;
}

div.image {
    text-align: center;
}

ul {
    padding-top: 10px;
}

section {
 display: flex;
}

aside {
 flex: 1;
 background-color: #E6F0FF;
}

article {
 flex: 4;
 background-color: #A6DFFF;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
    display: inline;
    float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}

img {
    border: 1px solid #5090B3;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.main-dark {
    background-color: #5090B3;
}

.main-light {
    background-color: #A6DFFF;
}

.complementary {
    background-color: #FFD9A7;
}

.complementary-light {
    background-color: #FFE3BF;
}

.complementary-lighter {
    background-color: #FCF0E0;
}
